- var imgproduct = "../assets/23.jpg"

.wrap-content.w-100.d-flex.f-col
    .container.whit-bg.mt-5-xl.p-4
        .row
            .col-lg-12 
                .item-products-backet
                    h1.mb-4.prim-col-text.text-center.font-two-level Корзина
                    .content-products.px-2.row
                        .col-lg-12 
                            ul.list-group.list-cart
                                li.list-group-item.d-flex.align-items-center.justify-content-between
                                    h6.mb-0 Название продукта
                                        span.price-product.ms-3.in-cart 410
                                    button.btn.btn-danger.btn-sm Удалить
                                li.list-group-item.d-flex.align-items-center.justify-content-between
                                    h6.mb-0 Название продукта
                                        span.price-product.ms-3.in-cart 590
                                    button.btn.btn-danger.btn-sm Удалить
                                li.list-group-item.d-flex.align-items-center.justify-content-between
                                    h6.mb-0 Название продукта
                                        span.price-product.ms-3.in-cart 590
                                    button.btn.btn-danger.btn-sm Удалить
                            .d-flex.align-items-center.justify-content-end.mt-3
                                span.price-all.border.py-1.px-2
                                button.btn.btn-success.btn-sm.ms-2 Оплатить





