meta(charset='UTF-8')
meta(http-equip='X-UA-Compatible' content='IE=EDGE')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel="stylesheet" href="assets/css/bootstrap.min.css")
link(rel="stylesheet" href="assets/css/jquery.fancybox.min.css")
link(rel="stylesheet" href="assets/css/main.css")
link(rel="stylesheet" href="assets/css/media.css")
title test-pug