.bg-whit
    .container
        .row.py-4.justify-content-between.align-items-center
            .col-lg-3.d-fle.align-items-center.justify-content-start
                a(href='#') LOGO
            .col-lg-3
                .head-columns.d-flex.align-items-center.justify-content-center
                    .descript-head-col.d-flex.f-col.text-center
                        span 
                            i.fa-solid.fa-phone.me-2 
                            = ' +7 (499) 460-50-65'
                        span 
                            i.fa-solid.fa-clock.me-2 
                            = ' Режим работы: с 8 до 20'
            .col-lg-3.d-flex.justify-content-end.align-items-center
                ul.list-account.d-flex.align-items-center.m-0.p-0
                    li
                        a(href='backet.html' data-bs-toggle="tooltip" data-bs-placement="right" title="Корзина")
                            i.fa-solid.fa-cart-shopping
                    li
                        a(href='#' data-bs-toggle="tooltip" data-bs-placement="right" title="white-лист")
                            i.fa-solid.fa-heart
                    li
                        a(data-fancybox href='login.html' data-width="fit-content" data-preload="true" data-type="iframe" data-bs-toggle="tooltip" data-bs-placement="right" title="Логин")
                            i.fa-solid.fa-right-to-bracket
.tringle