script(src='assets/js/jquery-3.6.0.min.js')
script(src='assets/js/bootstrap.bundle.min.js')
script(src='assets/js/jquery.fancybox.min.js')
script(src='assets/js/parallax.min.js')
script(src='assets/js/main.js')
script(src='https://kit.fontawesome.com/9d7e5bd6b2.js')